{% extends 'base.html' %}

{% block title %} | Create Post {% endblock  %}

{% block content %}

<div class="container"> 
	<div class="mx-auto col-6">
<!-- Alerts -->
		<br>{% include 'partials/_alerts.html' %}

		<br><h1>Create your post</h1><br>
		<form method="POST" action="{% url 'create_from_index' %}" enctype="multipart/form-data">
			{% csrf_token %} <!-- security measure - always include -->
		
			<div class="form-group">
				Subreddit name:
				<input type="text" name="subreddit" class="form-control" placeholder="Choose an existing Subreddit" required>
			</div>
			<div class="form-group">
				Post title:
				<input type="text" name="title" class="form-control" required>
			</div>
			<div class="form-group">
				Content:
				<textarea type="textbox" name="content" class="form-control" required></textarea>
			</div>
			<div class="form-group">
				Image (optional):
				<input type="file" name="photo">
			</div>

			<br><input type="submit" value="Create Post" class="btn btn-danger">
		</form><br><br>
	</div>
</div>
{% endblock %}