{% load static %}

<div class="p-2 mb-4 border rounded bg-white text-center">
	<a class="d-inline-block align-top mr-3" href="{% url 'index' %}">
		<img src="{% static 'img/reddit-logo-gray.png' %}" class="logo px-2 my-2" alt="reddit logo" height="40" >
	</a>
	<a class="btn btn-light col-10 text-left btn-lg my-1 mx-1 mr-3 font-weight-light" href="{% url 'create_from_index' %}">Create Post</a>
</div>


	
	{% comment %} <a class="d-inline-block align-center nav-link p-0 ml-3 disabled" href="#">
		<img src="{% static 'img/picture.png' %}" class="logo mx-1" alt="reddit logo" height="35" >
	</a>
	<a class="d-inline-block align-center nav-link p-0 disabled" href="#">
		<img src="{% static 'img/chain.png' %}" class="logo mx-1" alt="reddit logo" height="25" >
	</a> {% endcomment %}