{% extends 'base.html' %}

{% block content %}

<div class="container">
	{% if error %}
	<br><br>{{ error }}<br><br>
	{% endif %}

	<br><h1>SIGN UP</h1><br>

	<form method="POST" action="{% url 'signup' %}">
			{% csrf_token %} <!-- security measure - always include -->
			Username:
			<br><input type="text" name="username" id=""><br>
			Password:
			<br><input type="password" name="password1" id=""><br>
			Confirm password:
			<br><input type="password" name="password2" id=""><br>
			<br><input type="submit" value="Sign Up" class="btn btn-danger">
	</form>
	<br><br>
</div>

{% endblock  %}