{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Breadcrumbs -->
<div class="d-flex justify-content-between my-4 mr-3">
  <div class="container col-7">
    <div class="p-2 mb-4 border rounded bg-white">
      <a class="d-inline-block align-top" href="{% url 'index' %}">
        <img src="{% static 'img/reddit-logo-gray.png' %}" class="logo px-2 my-2" alt="reddit logo" height="40" >
      </a>
      <button class="btn btn-light col-9 text-left btn-lg my-1 mx-1 mr-3 font-weight-light" type="button" href="#">Create Post</button>
      <a class="d-inline-block align-center" href="#">
        <img src="{% static 'img/picture.png' %}" class="logo mx-1" alt="reddit logo" height="35" >
      </a>
      <a class="d-inline-block align-center" href="#">
        <img src="{% static 'img/chain.png' %}" class="logo mx-1" alt="reddit logo" height="25" >
      </a>
    </div>

    <!-- All posts from DB -->
    <div class="mb-4 border rounded-top bg-white d-flex">
      <div class="flex-shrink-1 bg-light p-2 d-flex flex-column align-items-center">
        <a class="py-1" href="#">
          <img src="{% static 'img/upvote.png' %}" class="logo mx-1" alt="upvote" height="15" >
        </a>
        4.4k
      </div>
      <div class="p-2">
        <div class="bg-light py-4 px-5 rounded">
          <img class="bg-image" src="{% static 'img/paper-plane.png' %}" alt="Paper plane" width="40" height="40">
        </div>
      </div>
      <div class="p-2">
        <div class="">
          <h5 class="font-weight-normal m-0">This is a placeholder post title for the real title that will come later from the DB</h5>
          <a class="pr-2" href="#">/subreddit_slug</a>&middot;	Posted by <a class="pr-2 text-secondary" href="#"> /UserAccount</a><a class="text-secondary" href="#">6 hours ago</a>
          <div class="pt-2">
            <img class="mr-2" src="{% static 'img/comment.png' %}" width="20" height="20">15 Comments
          </div>
        </div>  
      </div>
      
    </div>


  </div>
  
  <div class="container col-4 p-0 border rounded bg-white">
    <div>
      <img class="rounded-top bg-image fit" src="{% static 'img/bg-growing.jpeg' %}" alt="Growing communities background" width="100%" height="100">
      <h5 class="mx-3 growing growing-pos">Today's Top Growing Communities</h5>
    </div>
    <div class="mx-3 growing-pos">All communities from DB</div>
    
    <!-- All communites from DB -->
    <div class="py-3 px-4">
      <button class="btn btn-info col-12 text-uppercase" type="button" href="#">View All</button>
    </div>
  </div>
</div>

{% endblock %}

